[Unit]
After=network-online.target docker.service
Wants=network-online.target

[Service]
Type=oneshot
User=mnardini
WorkingDirectory=/home/mnardini/rag_unibo/src

ExecStart=/home/mnardini/rag_unibo/.venv/bin/python -m ingestion.converter
ExecStart=/home/mnardini/rag_unibo/.venv/bin/python -m indexing

StandardOutput=journal
StandardError=journal
